*{
    margin:0;
    padding: 0;
}
html{
    font-family: arial;
}
body{
     background: url(../imagenes/parte-arriba.png);
    background-repeat: no-repeat;
}
li{
    list-style: none;
    
}

/*-------Menú------------------------------------------------*/
header{
   width: 1920px;
   height: 100px; 
}
#logo {
    width: 400px;
    height: 125px;
    float:left;
    margin: 20px;
}

#menu{
    width: 700px;
    height: 100px;
    border: 0px solid #000;
    float: right;
    margin-top: 40PX;
}

#menu ul{
    list-style: none;
    margin: 0 0 50px 0;
    padding: 0;
}

#menu ul li a{
    display: block;
    text-decoration: none;
    font-weight: 400px;
    font-size: 20px;
    padding: 10px 15px;
    letter-spacing: 1px;
    color: white;
}

#menu ul li {
    position: relative;
    float: left;
    margin:0;
    padding:0;
}

#menu ul li:hover{
    background: #C94570;
    border-radius: 30px;
    transition-duration:0.5s;
    
}

/*-------------------HOME-------------------------*/
a{
    text-decoration: none;
}
.social #facebook img {
    background: #1976d2;
}

.social #instagram img
{
background: rgba(247,241,171,1);
background: -moz-linear-gradient(45deg, rgba(247,241,171,1) 0%, rgba(255,213,61,1) 15%, rgba(255,129,61,1) 29%, rgba(255,64,61,1) 41%, rgba(255,26,136,1) 64%, rgba(255,15,219,1) 85%, rgba(255,15,219,1) 100%);
background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(247,241,171,1)), color-stop(15%, rgba(255,213,61,1)), color-stop(29%, rgba(255,129,61,1)), color-stop(41%, rgba(255,64,61,1)), color-stop(64%, rgba(255,26,136,1)), color-stop(85%, rgba(255,15,219,1)), color-stop(100%, rgba(255,15,219,1)));
background: -webkit-linear-gradient(45deg, rgba(247,241,171,1) 0%, rgba(255,213,61,1) 15%, rgba(255,129,61,1) 29%, rgba(255,64,61,1) 41%, rgba(255,26,136,1) 64%, rgba(255,15,219,1) 85%, rgba(255,15,219,1) 100%);
background: -o-linear-gradient(45deg, rgba(247,241,171,1) 0%, rgba(255,213,61,1) 15%, rgba(255,129,61,1) 29%, rgba(255,64,61,1) 41%, rgba(255,26,136,1) 64%, rgba(255,15,219,1) 85%, rgba(255,15,219,1) 100%);
background: -ms-linear-gradient(45deg, rgba(247,241,171,1) 0%, rgba(255,213,61,1) 15%, rgba(255,129,61,1) 29%, rgba(255,64,61,1) 41%, rgba(255,26,136,1) 64%, rgba(255,15,219,1) 85%, rgba(255,15,219,1) 100%);
background: linear-gradient(45deg, rgba(247,241,171,1) 0%, rgba(255,213,61,1) 15%, rgba(255,129,61,1) 29%, rgba(255,64,61,1) 41%, rgba(255,26,136,1) 64%, rgba(255,15,219,1) 85%, rgba(255,15,219,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f1ab', endColorstr='#ff0fdb', GradientType=1 );

}
.social #linkedin img{
    background: #0077b7;
}

.social #whatsapp img{
background: rgba(3,164,246,1);
background: -moz-linear-gradient(45deg, rgba(3,164,246,1) 0%, rgba(24,208,195,1) 50%, rgba(41,242,155,1) 100%);
background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(3,164,246,1)), color-stop(50%, rgba(24,208,195,1)), color-stop(100%, rgba(41,242,155,1)));
background: -webkit-linear-gradient(45deg, rgba(3,164,246,1) 0%, rgba(24,208,195,1) 50%, rgba(41,242,155,1) 100%);
background: -o-linear-gradient(45deg, rgba(3,164,246,1) 0%, rgba(24,208,195,1) 50%, rgba(41,242,155,1) 100%);
background: -ms-linear-gradient(45deg, rgba(3,164,246,1) 0%, rgba(24,208,195,1) 50%, rgba(41,242,155,1) 100%);
background: linear-gradient(45deg, rgba(3,164,246,1) 0%, rgba(24,208,195,1) 50%, rgba(41,242,155,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#03a4f6', endColorstr='#29f29b', GradientType=1 ); 
}
.social img{
    width: 37px;
    margin-bottom: 20px;
    border-radius: 10px;
}
.social{
width:40px;
position:fixed;
top:50px;
right:0;
		}
.social{
top:50%;
height:205px;
margin-top:-150px;
}

.home div.contenedor2{
float: left;
margin-right: 700px;
margin-top: 100px;
}

.home .right{
    float: right;
    margin-top: -450px;
    margin-right: 0px;
}

#blue {
    font-size: 40px;
    color: white;
    margin: 8px 9px 2px 120px;
    padding-right: 120px;
}

#blue .grande{
    font-size: 60px;
}

 .verde{
    color:#1FD4A5;
    font-size: 100px;
}
 .verde2{
    color:#1FD4A5;
    font-size: 120px;
}
.boton {
background-image: linear-gradient(to right, #02AAB0 0%, #00CDAC 51%, #02AAB0 100%);
margin:5px 5px 5px 120px;
text-align: center;
border-radius: 30px;
width:220px;
padding: 5px;
font-size:30px;
color:white;
}
.boton:hover { background-position: right center; }

/*-----------------PORTAFOLIO---------------------------*/
.res{
    padding-top: 100px;
}
.negrogrande{
    font-size: 40px;
}

.parrafo{
    font-size: 34px;
    text-align: center;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 20px;
}

.center{
    text-align: center;
    background: white;
    margin :990px 5px 70px 5px;
}

.descarga a{
background-image: linear-gradient(to right, #02AAB0 0%, #00CDAC 51%, #02AAB0 100%);
text-align: center;
float:center;
border-radius: 30px;
width:220px;
padding: 6px;
font-size:30px;
color:white;
text-decoration: none;
list-style: none;

}

.boton:hover { background-position: right center; }

/*--------------SERVICIO--------------------*/
section #nosotros{
    background-size: contain;
}
div.services ul  {
    border-left: 7px solid #1FD4A5;
}
.alinear{
    text-align: left;
}

 .fin {
    background: url(../imagenes/parte-final.png);
     width: 1920px;
     height: 1460px;
     background-repeat: no-repeat;
}

#servicio{
    color:black;
    text-align: center;
}
#servicio .alinear{
    display: flex;
    flex: wrap;
    justify-content: center;
    margin: 85px 2px 2px 2px;
}

.serv{
    margin: 20px;
    margin-top: 200px;
    position: relative;
}

.serv img{
    width: 180px;
    height: 180px;
    margin-top: 60px;
   margin-right: 100px;
    margin-left: 70px;
}
#servicio .center{
    text-align: center;
    padding: 10px;
}

.center2{
    text-align: center;
    color: white;
    margin :9px 5px 70px 5px;
    font-size: 20px;
    font-weight: 1;
}


/*--------------SOBRE NOSOTROS--------------------*/
 .alinear2 img{
    width: 200px;
    height: 200px;
}
.nos{
    font-size:50px;
    text-align: center;
    margin-top: 78px;
    color: white;
}
.sob{
    color:white;
}
.alinear2 ul .sob{
    display: inline-block;
    width: 200px;
    height: 200px;
    margin-left: 120px;
    margin-top: 130px;
    
}

.alinear2 ul {
    margin-left:300px ;
    margin-right:300px ;
}

.center3{
    text-align: center;
}

/*-------------FORMULARIO---------------------*/

@import url(https://fonts.googleapis.com/css?family=Lato:100,300,400);
#form {
  position: relative;
  width: 500px;
  margin: 50px auto 100px auto;
}

input {
  font-family: 'Lato', sans-serif;
  font-size: 0.875em;
  width: 470px;
  height: 50px;
  padding: 0px 15px 0px 15px;
  
  background: transparent;
  outline: none;
  color: white;
  
  border: solid 1px #1FD4A5;
  background:#1FD4A5 ;
  border-bottom: none;
  
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

input:hover {
  background: white;
  color:#1FD4A5;
}

textarea {
  width: 470px;
  max-width: 470px;
  height: 110px;
  max-height: 110px;
  padding: 15px;
  
  background:white;
  outline: none;
  
  color: #1FD4A5;
  font-family: 'Lato', sans-serif;
  font-size: 0.875em;
  
  border: solid 1px #1FD4A5;
  
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

textarea:hover {
  background: #1FD4A5;
  color: white;
}

#submit {
  width: 502px;
  padding: 0;
  margin: -5px 0px 0px 0px;
  font-family: 'Lato', sans-serif;
  font-size: 0.875em;
  color: white;
  outline:none;
  cursor: pointer;
  border: solid 1px #1FD4A5;
  border-top: none;
}

#submit:hover {
  color:#1FD4A5;
}
/*---------------CONTACTO-------------------*/
.contacto{
    margin-left: 90px;
}
.la{
    height: 3px;
    width: 30px;
    margin-left: 200px;
}
.le{
     height: 3px;
    width: 30px;
    margin-left: 230px;
}
.li{
    height: 3px;
    width: 30px;
    margin-left: 210px;
}
hr {
    height: 5px;
    width: 60px;
    margin-left: 220px;
    background-color: #1FD4A5;
}

.encabezadocajas{
    font-size: 40px;
    margin-bottom: 5px;
    color:#1FD4A5;
}

.services img{
    width: 20px;
    margin-right: 15px;
}
.gmail{
    text-decoration: none;
    color:darkgray;
}
/*--------------PIE DE PÁGINA--------------------*/
.footer{
    height: 4rem;
    background-color: #1FD4A5;
    text-align: center;
    color:white;
}

.footer #derechos{
    padding-top:25px;
}

/*--------------redes social--------------------*/
.box {
  width: 100px;
  height: 100px;
  background: red;
  color: white;
}

#one {
  position: fixed;
  top: 80px;
  left: 10px;
  background: blue;
}
/*---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
@media (max-width:1440px){
  header{
max-width: 1440px;
height: 200px; 
}

#menu{
    width: 768px;
    height: 100px;
    margin-top: 100PX;
}

#menu ul{
    margin-left: 200px;
}

#menu ul li {
    position: relative;
    margin:0;
    padding:0;
    margin-top: -40px;
}

header img{
width: 350px;
margin-left: 50px;
}
    
body {
background: url(../imagenes/parte-arriba6.png);
background-repeat: no-repeat;
width: 1440px;
height: 1172px;
}

.home .right img{
        width: 510px;
}
.home .right{
   margin-top: -590px;
}

#blue {
    font-size: 50px;
    color: white;
    margin: -60px 9px 2px 120px;
    padding-right: 120px;
}

#blue .grande{
    font-size: 70px;
}

 .verde{
    font-size: 90px;
}
.boton {
margin:5px 5px 5px 130px;
width:170px;
padding: 5px;
font-size:25px;
}
.negrogrande{
    font-size: 60px;
}
.parrafo{
    font-size: 40px;
    margin-left: 30px;
    margin-right: 30px;
}
   .center{
    margin :770px 5px 10px 5px;
} 
    .verde2{
    font-size: 70px;
}
    .descarga{
        margin-top: 20px;
    }
.descarga a{
width:220px;
padding: 5px;
font-size:36px;
}

.alinear{
    text-align:center;
}

.fin {
     background: url(../imagenes/parte-final6.png);
     background-repeat: no-repeat;
     width: 1440px;
     height: 1532px;
     background-repeat: no-repeat;
     margin-top: -70px;
}

#servicio{
    color:black;
    text-align: center;
}
#servicio .alinear{
    display: flex;
    flex: wrap;
    justify-content: center;
    margin: 85px 2px 2px 2px;
}

.serv{
    margin: 50px;
    margin-top: 400px;
    position:relative;
}

.serv img{
    width: 200px;
    height: auto;
    margin-top: 0px;
   margin-right: 0px;
    margin-left: 0px;
}
#servicio .center{
    text-align: center;
    padding: 10px;
}

.center2{
    text-align: center;
    color: white;
    margin :9px 5px 70px 5px;
    font-size: 20px;
    font-weight: 1;
}

.alinear2 img{
    width: 170px;
    height: auto;
    margin-right: 0px;
    }
.nos{
    font-size:50px;
    text-align: center;
    margin-bottom: 190px;
    margin-left: 0px;
}
.alinear2{
    margin-top: 60px;    
}
.alinear2 ul .sob{
    width: 150px;
    height: 100px;
    margin-left:50px ;
    margin-right: 50px;
    margin-top:0px ;
    margin-bottom: 160px;
    text-align: center; 
}

.alinear2 ul {
    margin-left:50px ;
    margin-right:50px ;
    text-align: center;
}

.center3{
    font-size: 14px;
    color: white;
}


.contacto{
     margin-left: 100px;
    margin-top: 170px;
}
.la{
    height: 3px;
    width: 30px;
    margin-left: 110px;
}
.le{
     height: 3px;
    width: 30px;
    margin-left: 230px;
}
.li{
    height: 3px;
    width: 30px;
    margin-left: 130px;
}
hr {
    margin-left: 220px;
}

.encabezadocajas{
    margin-top: -200px;
    font-size: 40px;
}

.services img{
    width: 34px;
    margin-right: 15px;
}

.gmail{
    font-size: 18px;
    text-decoration: none;
    color:darkgray;
    margin-bottom: 20px;
}
    .footer{
    width: 1440px;
    height: 5rem;
}       
}
/*---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
@media (max-width:1200px){
header{
max-width: 1200px;
height: 200px; 
}

#menu{
    width: 768px;
    height: 100px;
    margin-top: -60PX;
}

#menu ul{
    margin-left: 200px;
}

#menu ul li {
    position: relative;
    margin:0;
    padding:0;
    margin-top: -40px;
}

header img{
width: 350px;
margin-left: 50px;
}
    
body {
background: url(../imagenes/parte-arriba5.png);
background-repeat: no-repeat;
width: 1200px;
height: 1172px;
}

.home .right img{
        width: 510px;
}
.home .right{
   margin-top: -590px;
}

#blue {
    font-size: 50px;
    color: white;
    margin: -60px 9px 2px 120px;
    padding-right: 120px;
}

#blue .grande{
    font-size: 70px;
}

 .verde{
    font-size: 90px;
}
.boton {
margin:5px 5px 5px 130px;
width:170px;
padding: 5px;
font-size:25px;
}
.negrogrande{
    font-size: 60px;
}
.parrafo{
    font-size: 40px;
    margin-left: 30px;
    margin-right: 30px;
}
   .center{
    margin :980px 5px 10px 5px;
} 
    .verde2{
    font-size: 70px;
}
    .descarga{
        margin-top: 20px;
    }
.descarga a{
width:220px;
padding: 5px;
font-size:36px;
}

.alinear{
    text-align:center;
}

.fin {
     background: url(../imagenes/parte-final5.png);
     background-repeat: no-repeat;
     width: 1200px;
     height: 1532px;
     background-repeat: no-repeat;
     margin-top: -70px;
}

#servicio{
    color:black;
    text-align: center;
}
#servicio .alinear{
    display: flex;
    flex: wrap;
    justify-content: center;
    margin: 85px 2px 2px 2px;
}

.serv{
    margin: 50px;
    margin-top: 400px;
    position:relative;
}

.serv img{
    width: 200px;
    height: auto;
    margin-top: 0px;
   margin-right: 0px;
    margin-left: 0px;
}
#servicio .center{
    text-align: center;
    padding: 10px;
}

.center2{
    text-align: center;
    color: white;
    margin :9px 5px 70px 5px;
    font-size: 20px;
    font-weight: 1;
}

.alinear2 img{
    width: 170px;
    height: auto;
    margin-right: 0px;
    }
.nos{
    font-size:50px;
    text-align: center;
    margin-bottom: 190px;
    margin-left: 0px;
}
.alinear2{
    margin-top: 60px;    
}
.alinear2 ul .sob{
    width: 150px;
    height: 100px;
    margin-left:20px ;
    margin-right: 20px;
    margin-top:0px ;
    margin-bottom: 160px;
    text-align: center; 
}

.alinear2 ul {
    margin-left:50px ;
    margin-right:50px ;
    text-align: center;
}

.center3{
    font-size: 14px;
    color: white;
}


.contacto{
     margin-left: 100px;
    margin-top: 170px;
}
.la{
    height: 3px;
    width: 30px;
    margin-left: 110px;
}
.le{
     height: 3px;
    width: 30px;
    margin-left: 230px;
}
.li{
    height: 3px;
    width: 30px;
    margin-left: 130px;
}
hr {
    margin-left: 220px;
}

.encabezadocajas{
    margin-top: -200px;
    font-size: 40px;
}

.services img{
    width: 34px;
    margin-right: 15px;
}

.gmail{
    font-size: 18px;
    text-decoration: none;
    color:darkgray;
    margin-bottom: 20px;
}
    .footer{
    width: 1200px;
    height: 5rem;
}     
}
/*---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
@media (max-width:1024px){
  header{
max-width: 1024px;
height: 200px; 
}

#menu{
    width: 768px;
    height: 100px;
    margin-top: -60PX;
}

#menu ul{
    margin-left: 200px;
}

#menu ul li {
    position: relative;
    margin:0;
    padding:0;
    margin-top: -40px;
}

header img{
width: 350px;
margin-left: 50px;
}
    
body {
background: url(../imagenes/parte-arriba4.png);
background-repeat: no-repeat;
width: 1024px;
height: 1000px;
}

.home .right img{
        width: 510px;
}
.home .right{
   margin-top: -490px;
}

#blue {
    font-size: 40px;
    color: white;
    margin: -60px 9px 2px 120px;
    padding-right: 120px;
}

#blue .grande{
    font-size: 60px;
}

 .verde{
    font-size: 80px;
}
.boton {
margin:5px 5px 5px 130px;
width:170px;
padding: 5px;
font-size:25px;
}
.negrogrande{
    font-size: 50px;
}
.parrafo{
    font-size: 30px;
    margin-left: 30px;
    margin-right: 30px;
}
   .center{
    margin :800px 5px 10px 5px;
} 
    .verde2{
    font-size: 60px;
}
    .descarga{
        margin-top: 20px;
    }
.descarga a{
width:220px;
padding: 5px;
font-size:26px;
}

.alinear{
    text-align:center;
}

.fin {
     background: url(../imagenes/parte-final4.png);
     background-repeat: no-repeat;
     width: 1024px;
     height: 1100px;
     background-repeat: no-repeat;
     margin-top: -70px;
}

#servicio{
    color:black;
    text-align: center;
}
#servicio .alinear{
    display: flex;
    flex: wrap;
    justify-content: center;
    margin: 85px 2px 2px 2px;
}

.serv{
    margin: 50px;
    margin-top: 200px;
    position:relative;
}

.serv img{
    width: 150px;
    height: auto;
    margin-top: 0px;
   margin-right: 0px;
    margin-left: 0px;
}
#servicio .center{
    text-align: center;
    padding: 10px;
}

.center2{
    text-align: center;
    color: white;
    margin :9px 5px 70px 5px;
    font-size: 20px;
    font-weight: 1;
}

.alinear2 img{
    width: 120px;
    height: auto;
    margin-right: 0px;
    }
.nos{
    font-size:30px;
    text-align: center;
    margin-top: -70px;
    margin-bottom: 0px;
    margin-left: 0px;
}
.alinear2{
    margin-top: 60px;    
}
.alinear2 ul .sob{
    width: 150px;
    height: 100px;
    margin-left:20px ;
    margin-right: 20px;
    margin-top:0px ;
    margin-bottom: 160px;
    text-align: center; 
}

.alinear2 ul {
    margin-left:50px ;
    margin-right:50px ;
    text-align: center;
}

.center3{
    font-size: 14px;
    color: white;
}


.contacto{
     margin-left: 100px;
}
.la{
    height: 3px;
    width: 30px;
    margin-left: 110px;
}
.le{
     height: 3px;
    width: 30px;
    margin-left: 230px;
}
.li{
    height: 3px;
    width: 30px;
    margin-left: 130px;
}
hr {
    margin-left: 220px;
}

.encabezadocajas{
    margin-top: -200px;
    font-size: 40px;
}

.services img{
    width: 34px;
    margin-right: 15px;
}

.gmail{
    font-size: 18px;
    text-decoration: none;
    color:darkgray;
    margin-bottom: 20px;
}
    .footer{
    width: 1024px;
    height: 5rem;
}  
}
/*---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
@media (max-width:768px){
    
header{
max-width: 768px;
height: 200px; 
}

#menu{
    width: 768px;
    height: 100px;
    margin-top: -30PX;
}

#menu ul{
    list-style: none;
    margin: 0 0 50px 0;
    padding: 0;
    margin-left: 130px;
}

#menu ul li a{
    display: block;
    text-decoration: none;
    font-weight: 400px;
    font-size: 20px;
    padding: 10px 15px;
    letter-spacing: 1px;
    color: white;
}

#menu ul li {
    position: relative;
    margin:0;
    padding:0;
}

header img{
width: 250px;
margin-left: 250px;
}
    
body {
background: url(../imagenes/parte-arriba3.png);
background-repeat: no-repeat;
width: 768px;
height: 768px;
}

.home .right img{
        width: 410px;
}
.home .right{
   margin-top: -370px;
}

#blue {
    font-size: 30px;
    margin: -120px 0px 0px 50px;
}

#blue .grande{
    font-size: 50px;
}

 .verde{
    font-size: 60px;
}
.boton {
margin:5px 5px 5px 50px;
width:170px;
padding: 5px;
font-size:25px;
}
.negrogrande{
    font-size: 40px;
}
.parrafo{
    font-size: 20px;
    margin-left: 0%;
    margin-right: 0%;
    margin-top: -60px;
    margin-bottom: 0px;
}
   .center{
    margin :590px 5px 10px 5px;
} 
    .verde2{
    font-size: 45px;
}
    .descarga{
        margin-top: 20px;
    }
.descarga a{
width:220px;
padding: 5px;
font-size:26px;
}

.alinear{
    text-align:center;
}

.fin {
     background: url(../imagenes/parte-final3.png);
     background-repeat: no-repeat;
     width: 768px;
     height: 1700px;
     background-repeat: no-repeat;
     margin-top: -70px;
}
#servicio .alinear{
    margin: 87px 2px 2px 2px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.serv{
    margin:0px;
    margin-top: 100px;
    }
    .serv .ab{
        margin-top: -100px;
    }
.serv img{
    width: 130px;
    height: auto;
    margin-top: 0px;
   margin-right: 0px;
    margin-left: 0px;
}
#servicio .center{
    text-align: left;
    padding: 10px;
}
.center2{
    margin :9px 5px 70px 5px;
    font-size: 19px;
    font-weight: 1;
}

.alinear2 img{
    width: 120px;
    height: auto;
    margin-right: 0px;
    }
.nos{
    font-size:30px;
    text-align: center;
    margin-top: 70px;
    margin-bottom: 0px;
    margin-left: 0px;
}
.alinear2{
    margin-top: 100px;    
}
.alinear2 ul .sob{
    width: 150px;
    height: 100px;
    margin-left:20px ;
    margin-right: 20px;
    margin-top:0px ;
    margin-bottom: 160px;
    text-align: center; 
}

.alinear2 ul {
    margin-left:50px ;
    margin-right:50px ;
    text-align: center;
}

.center3{
    font-size: 14px;
    color: white;
}


.contacto{
     margin-left: 1px;
}
.la{
    height: 3px;
    width: 30px;
    margin-left: 410px;
}
.le{
     height: 3px;
    width: 30px;
    margin-left: 470px;
}
.li{
    height: 3px;
    width: 30px;
    margin-left: 420px;
}
hr {
    height: 5px;
    width: 60px;
    margin-left: 160px;
    background-color: #1FD4A5;
}

.encabezadocajas{
    font-size: 30px;
}

.services img{
    width: 24px;
    margin-right: 15px;
}

.gmail{
    font-size: 15px;
    text-decoration: none;
    color:darkgray;
    margin-bottom: 20px;
}
    .footer{
    width: 768px;
    height: 5rem;
}
}
/*---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
@media (max-width:480px){
header{
   max-width: 480px;
   height: 90px; 
}

#menu{
    display:none;
}

header img{
 width: 150px;
    margin-left: 160px;
}
    
body {
background: url(../imagenes/parte-arriba2.png);
background-repeat: no-repeat;
width: 480px;
height: 580px;
}

.home .right img{
        width: 210px;
}
.home .right{
   margin-top: -250px;
}

#blue {
    font-size: 20px;
    margin: -120px 0px 0px 30px;
    padding-right: 0px;
}

#blue .grande{
    font-size: 40px;
}

 .verde{
    font-size: 50px;
}
.boton {
margin:5px 5px 5px 50px;
width:120px;
padding: 5px;
font-size:15px;
}
.negrogrande{
    font-size: 30px;
}
.parrafo{
    font-size: 20px;
    margin-left: 0%;
    margin-right: 0%;
    margin-top: -70px;
    margin-bottom: 00px;
}
   .center{
    margin :490px 5px 10px 5px;
} 
    .verde2{
    font-size: 35px;
}

.descarga a{
width:220px;
padding: 5px;
font-size:17px;
}

.alinear{
    text-align:center;
}

.fin {
     background: url(../imagenes/parte-final2.png);
     background-repeat: no-repeat;
     width: 480px;
     height: 1717px;
     background-repeat: no-repeat;
     margin-top: -70px;
}
#servicio .alinear{
    margin: 87px 2px 2px 2px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.serv{
    margin:0px;
    margin-top: 200px;
    }
    .serv .ab{
        margin-top: -160px;
    }
.serv img{
    width: 120px;
    height: auto;
    margin-top: 0px;
   margin-right: 0px;
    margin-left: 0px;
}
#servicio .center{
    text-align: left;
    padding: 10px;
}
.center2{
    margin :9px 5px 70px 5px;
    font-size: 19px;
    font-weight: 1;
}

.alinear2 img{
    width: 100px;
    height: 100px;
    margin-right: 0px;
    }
.nos{
    font-size:30px;
    text-align: center;
    margin-top: 70px;
    margin-bottom: 0px;
    margin-left: 0px;
}
.alinear2{
    margin-top: 40px;    
}
.alinear2 ul .sob{
    width: 120px;
    height: 100px;
    margin-left:20px ;
    margin-right: 20px;
    margin-top:0px ;
    margin-bottom: 100px;
    text-align: center; 
}
    .alinear2 ul .sob .ac{
    width: 200px;
    height: 100px;
    margin-left:-40px ;
    margin-top: 0px ;
    margin-bottom: 0px;
}
    
    .alinear2 ul .sob .ac h4{
        margin-left: 10px;
        margin-right: 10px;
    }

.alinear2 ul {
    margin-left:50px ;
    margin-right:50px ;
    text-align: center;
}

.center3{
    font-size: 14px;
    color: white;
}


.contacto{
     margin-left: 1px;
}
.la{
    height: 3px;
    width: 30px;
    margin-left: 260px;
}
.le{
     height: 3px;
    width: 30px;
    margin-left: 320px;
}
.li{
    height: 3px;
    width: 30px;
    margin-left: 280px;
}
hr {
    height: 5px;
    width: 60px;
    margin-left: 160px;
    background-color: #1FD4A5;
}

.encabezadocajas{
    font-size: 30px;
}

.services img{
    width: 24px;
    margin-right: 15px;
}

.gmail{
    font-size: 15px;
    text-decoration: none;
    color:darkgray;
    margin-bottom: 20px;
}
#form{
    display: none;
        
}
    .footer{
    width: 480px;
    height: 5rem;
}
}

/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

@media (max-width:320px){
/*menu __________________*/
header{
   max-width: 320px;
   height: 90px; 
}
#logo {
    width: 0px;
}
#menu{
    display:none;
}

header img{
 width: 150px;
 margin-left: 70px;
}
    
body {
background: url(../imagenes/parte-arriba1.png);
background-repeat: no-repeat;
width: 320px;
height: 680px;
}
/*-------------------HOME-------------------------*/

.home .right img{
        width: 180px;
        margin-right: 69px;
}
.home .right{
    margin-top: 0px;
}

#blue {
    font-size: 20px;
    margin: -120px 2px 0px 40px;
    padding-right: 0px;
}

#blue .grande{
    font-size: 40px;
}

 .verde{
    font-size: 50px;
}
.boton {
margin:5px 5px 5px 50px;
width:120px;
padding: 5px;
font-size:15px;
}

/*-----------------PORTAFOLIO---------------------------*/
 
.parrafo{
    font-size: 19px;
    margin-left: 0%;
    margin-right: 0%;
    margin-bottom: 10px;
}
   .center{
    margin :590px 5px 10px 5px;
} 
    .verde2{
    font-size: 25px;
}

.descarga a{
width:220px;
padding: 5px;
font-size:17px;
}

.alinear{
    text-align:center;
}
/*-----------------servicios---------------------------*/
.fin {
     background: url(../imagenes/parte-final1.png);
     background-repeat: no-repeat;
     width: 320px;
     height: 2200px;
     background-repeat: no-repeat;
     margin-top: -70px;
}
#servicio .alinear{
    margin: 87px 2px 2px 2px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.serv{
    margin:0px;
    margin-top: 200px;
    }
    .serv .ab{
        margin-top: -160px;
    }
.serv img{
    width: 120px;
    height: 120px;
    margin-top: 0px;
   margin-right: 0px;
    margin-left: 20px;
}
#servicio .center{
    text-align: left;
    padding: 10px;
}
.center2{
    margin :9px 5px 70px 5px;
    font-size: 19px;
    font-weight: 1;
}
/*--------------SOBRE NOSOTROS--------------------*/
.alinear2 img{
    width: 100px;
    height: 100px;
    margin-right: 0px;
    }
.nos{
    font-size:30px;
    text-align: center;
    margin-top: 70px;
    margin-bottom: 0px;
    margin-left: 0px;
}
.alinear2{
    margin-top: 40px;    
}
.alinear2 ul .sob{
    width: 120px;
    height: 100px;
    margin-left:20px ;
    margin-right: 20px;
    margin-top:0px ;
    margin-bottom: 100px;
    text-align: center; 
}
    .alinear2 ul .sob .ac{
    width: 200px;
    height: 100px;
    margin-left:-40px ;
    margin-top: 0px ;
    margin-bottom: 0px;
}
    
    .alinear2 ul .sob .ac h4{
        margin-left: 10px;
        margin-right: 10px;
    }

.alinear2 ul {
    margin-left:50px ;
    margin-right:50px ;
    text-align: center;
}

.center3{
    font-size: 14px;
    color: white;
}


/*-------------------contacto---------------------------*/
.contacto{
     margin-left: 1px;
}
.la{
    height: 3px;
    width: 30px;
    margin-left: 180px;
}
.le{
     height: 3px;
    width: 30px;
    margin-left: 250px;
}
.li{
    height: 3px;
    width: 30px;
    margin-left: 200px;
}
hr {
    height: 5px;
    width: 60px;
    margin-left: 160px;
    background-color: #1FD4A5;
}

.encabezadocajas{
    font-size: 30px;
}

.services img{
    width: 20px;
    margin-right: 15px;
}

.gmail{
    font-size: 13px;
    text-decoration: none;
    color:darkgray;
    margin-bottom: 20px;
}
#form{
    display: none;
        
}
    .footer{
    width: 320px;
    height: 5rem;
}
}

/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
